.uPage {
    height: auto;
    width: auto;
}
.uGrid {
    height: 100%;
    width: 100%;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}
.uNotFound{
    width: 100%;
    height: 300px;
    margin: 150px 0 0 0;
}
.uNotFoundText{
    text-align: center;
    p{
        font-size: 17px;
        letter-spacing: 0.2px;
    }
}




