
.mDownloadAppContainer{
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: space-evenly;
	width: 100%;
}
.mDownloadAppContainerText{
	font-size: 50px;
	font-weight: 900;
	line-height: 80px;
	text-align: center;
}


