.uLayoutGrid{
    display: grid;
    display: -ms-grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto;
    padding: 20px 5px 0 5px;
}
.uLayoutNavBarFlex{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.uLayoutNavBarButton{
    align-items: center;
    background-color: white;
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 10px;
    outline: none;
    width: auto;
    padding: 0 14px;
    span{
        color: rgb(204, 204, 204);
        font-size: 16px;
        font-weight: 500;
    }
    &:hover{
        border-bottom: 2px solid rgba(204, 204, 204, 0.514);
    }
}
.uLayoutNavBarButtonActive{
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.514) !important;
    span{
        color: black
    }
}

.uLayoutFlex{
    height: auto;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.uLayoutEventsMediaArticle{
    /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.144); */
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    /* border: 1px solid rgba(0, 0, 0, 0.04); */
   /*  box-shadow: 0 0 0 1px rgba(0,0,0,.1); */
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px auto;
    height: 560px;
    margin: 10px auto;
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    
}
.uLayoutEventsMediaArticleHeaderGrid{
    border-top: 1px solid rgba(0, 0, 0, 0.082);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.uLayoutEventsMediaArticleHeaderFlex{
    display: -ms-grid;
    display: grid;
    grid-template-rows: 100%;
    height: 100%;
}
.uLayoutEventsMediaArticleHeaderLeft{
    display: -ms-grid;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 80px auto;
    grid-template-rows: 100%;
}
.uLayoutEventsMediaArticleHeaderLeftEventPhotoFlex{
    align-items: center;
    display: -webkit-flex;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: center;
    img {
        border-radius: 10px;
        height: 60px;
        object-fit: cover;
        width: 60px;
    }
}
.uLayoutEventsMediaArticleHeaderLeftEventTitleFlex{
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: center;
    h3 {
        margin: 0;
        font-weight: 550;
        color: black !important;
    }
    a {
        margin: 0;
        font-weight: 550;
        color: rgb(59, 126, 194);
    }
}
.uLayoutEventsMediaArticleHeaderRigth{
    align-items: center;
    display: -webkit-flex;
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: flex-end;
    span {
        font-weight: 450;
        margin: 0 8px 0 0;
        color: rgb(92, 92, 92);
    }
}
.uLayoutEventsMediaArticleMediaGrid{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.uLayoutEventsMediaArticleMediaCoverContainer{
    height: 470px;
    overflow-x: scroll;
    overflow-y: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
}
.uLayoutEventsMediaArticleMediaCoverSlide{
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    display: inline-block;
    height: 420px;
    margin: 20px 10px 0 10px;
    opacity: 0.95;
    transition: all 200ms ease-in;
    width: 290px;
}
.uLayoutEventsMediaArticleMediaCoverSlideWrapper{
    align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}
.uLayoutEventsMediaArticleMediaCoverWrapper{
    align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}
.uLayoutEventsMediaArticleMediaMain{
    height: 380px;
    width: 100%;
}
.uLayoutEventsMediaArticleMediaCoverItem{
    -moz-background-size: 300px 400px;
    -o-background-size: 300px 400px;
    -webkit-background-size: 300px 400px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 300px 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #bbb;
    box-shadow: 2px 4px 12px rgba(92, 92, 92, 0.418);
    cursor: pointer;
    display: inline-block;
    height: 380px;
    object-fit: cover;
    position: relative;
    vertical-align: bottom;
    width: 280px;
}

@media(min-width: 0px) {
    .uLayoutEventsMediaArticleHeaderFlex{
        grid-template-columns: auto 100px;
    }
    .uLayoutEventsMediaArticleHeaderLeft{
        grid-template-columns: 80px auto;
    }
    .uLayoutEventsMediaArticleHeaderLeftEventPhotoFlex{
        img {
            width: 60px;
            height: 60px;
        }
    }
    .uLayoutEventsMediaArticleHeaderLeftEventTitleFlex{
        h3 {
            font-size: 15px;
        }
        a{
            font-size: 13px;
        }
    }
    .uLayoutEventsMediaArticleHeaderRigth{
        span {
            font-size: 8px;
        }
    }
    .uLayoutEventsMediaArticleMediaGrid{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
}

@media(min-width: 768px) {
    .uLayoutEventsMediaArticleHeaderFlex{
        grid-template-columns: auto 150px;
    }
    .uLayoutEventsMediaArticleHeaderLeft{
        grid-template-columns: 100px auto;
    }
    .uLayoutEventsMediaArticleHeaderLeftEventPhotoFlex{
        img {
            width: 70px;
            height: 70px;
        }
    }
    .uLayoutEventsMediaArticleHeaderLeftEventTitleFlex{
        h3 {
            font-size: 19px;
        }
        a{
            font-size: 15px;
        }
    }
    .uLayoutEventsMediaArticleHeaderRigth{
        span {
            font-size: 12px;
        }
    }
    .uLayoutEventsMediaArticleMediaCoverSlide {
        &:hover {
            border: 0;
            transform: scale(1.09);
            -webkit-transform: scale(1.09);
            -moz-transform: scale(1.09);
            -ms-transform: scale(1.09);
            -o-transform: scale(1.09);
            transition: all 200ms ease-in;
            -webkit-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            opacity: 1;
        }
    }
}