/* @-webkit-keyframes moving {
  from {-webkit-transform: translateX(0vw);}
  to {-webkit-transform: translateX(15vw);}
}
@-moz-keyframes moving{
  from {-moz-transform: translateX(0vw);}
  to {-moz-transform: translateX(15vw);}
}
@-o-keyframes moving{
  from {-o-transform: translateX(0vw);}
  to {-o-transform: translateX(15vw);}
}
@keyframes moving {
  from {transform: translateX(0vw);}
  to {transform: translateX(15vw);}
}

@-webkit-keyframes moving-reverse {
  from {-webkit-transform: translateX(50vw);}
  to {-webkit-transform: translateX(30vw);}
}
@-moz-keyframes moving-reverse{
  from {-moz-transform: translateX(50vw);}
  to {-moz-transform: translateX(30vw);}
}
@-o-keyframes moving-reverse{
  from {-o-transform: translateX(50vw);}
  to {-o-transform: translateX(30vw);}
}
@keyframes moving-reverse {
  from {transform: translateX(50vw);}
  to {transform: translateX(30vw);}
} */


.mMain{
	width: 100%;
	height: auto;
}











